# Core Python Libraries
pandas
numpy
joblib

# Database and ORM
sqlalchemy
psycopg2-binary

pandasai>=3.0.0b0
pandasai-google>=0.1.2
pandasai-openai
langchain-groq

# Visualization
matplotlib
seaborn
plotly

# Web Framework
streamlit

# LLM and NLP
transformers
torch

# Optional but recommended
python-dotenv
pipenv
