# Core Python Libraries
pandas
numpy
joblib

# Database and ORM
sqlalchemy
psycopg2-binary

pandasai
pandasai-google
pandasai-openai
langchain-groq

# Visualization
matplotlib
seaborn
plotly

# Web Framework
streamlit

# LLM and NLP
transformers
torch

# Optional but recommended
python-dotenv
pipenv
